.DS_Store

doom/.doom.d/custom.el

cmus/.config/cmus

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

zsh/cache
.DS_Store

emacs/.emacs.d/var
emacs/.emacs.d/undo-fu-session
emacs/.emacs.d/transient
emacs/.emacs.d/tramp
emacs/.emacs.d/recentf
emacs/.emacs.d/places
emacs/.emacs.d/eln-cache
emacs/.emacs.d/elpa
emacs/.emacs.d/.lsp-session*
emacs/.emacs.d/projectile-bookmarks*
emacs/.emacs.d/smex-items
emacs/.emacs.d/bookmarks
emacs/.emacs.d/history
emacs/.emacs.d/backups
emacs/.emacs.d/.cache
emacs/.emacs.d/custom-vars.el
emacs/.emacs.d/projects
emacs/.emacs.d/tramp-*
emacs/.emacs.d/\#*
emacs/.emacs.d/quelpa
emacs/.emacs.d/tree-sitter
emacs/.emacs.d/ellama-sessions

nvim/.config/nvim/undodir
nvim/.config/nvim/spell
